# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.venv/
venv/
env/
ENV/
env.bak/
venv.bak/


.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project


.ipynb_checkpoints
*.ipynb


*.csv
*.data
*.json
*.h5
*.hdf5
*.pkl
*.pickle
*.db
*.sqlite
*.feather
*.parquet


!pizzas.csv

.DS_Store
Thumbs.db


*.log
*.sql
*.sqlite
*.out
*.tmp


secrets.yml
.env
*.key
*.pem


model.pkl
*.joblib
*.model


.idea/
*.iml


.vscode/
settings.json